<!-- Footer-->

<footer class="footer ">

  <div class="container">
    <div class="row vertical-center">
      <div class="col-md-5">
        <app-contact-detail [contact]="footer"></app-contact-detail>
      </div>
      <div class="col-md-7">
        <h3 class="text-center">Susbcribe to get latest job !</h3>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</footer>
<!--Footer-->
<hr>
<div class="container text-center">
  <app-social-media></app-social-media>
  <p>&copy; 2023 Denis Monthe. All rights reserved.</p>
</div>


