


<div class="card mt-5 ms-5 me-5">
  <div class="card-body">
    <h5 class="card-title text-center">search for a job</h5>

    <form class="row g-3 justify-content-center">

      <div class="col-auto">
        <label for="jobtitle" class="visually-hidden">Job title</label>
        <input type="text"placeholder="search for a job title" class="form-control" name="model" id="jobtitle" [(ngModel)]="model" [ngbTypeahead]="search" >
      </div>

      <div class="col-auto">
        <label for="location" class="visually-hidden">Location</label>
        <input type="text"placeholder="choose a location" class="form-control" name="model" id="jobtitle" [(ngModel)]="model" [ngbTypeahead]="search" >
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </div>
    </form>

    <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>

  </div>
</div>



